@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}
body {
  background-color: #fafafb;
}
.react-calendar {
  width: 100% !important;
  border: none !important;
}
.react-calendar__tile--active {
  background: #c8fa3b !important;
  color: black !important;
}

/* scroll bar */
::-webkit-scrollbar {
  width: 4px; /* Set the scrollbar width */
}

::-webkit-scrollbar-thumb {
  background-color: #27CEF8; /* Set the scrollbar color */
}

::-webkit-scrollbar-track {
  background-color: transparent; /* Set the scrollbar track color */
}
/* scroll bar */

/* center a div */
.center {
  position: fixed !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  -webkit-transform: translate(-50%, -50%) !important;
  -moz-transform: translate(-50%, -50%) !important;
  -ms-transform: translate(-50%, -50%) !important;
  -o-transform: translate(-50%, -50%) !important;
}
/* center a div */



.post-btn{
  padding: 13px 25px;
  background-color: transparent;
  outline: none;
  border: none;
  margin-left: 10px;
  margin-bottom: 5px;
  font-size: 17px;
  cursor: pointer;
}
.post-btndisable{
  opacity: 0.5;
}